<%- include("partials/head", { title: title } ) -%>
  <%- include("partials/menu", {activeLink: activeLink }) -%>
    <main class="container my-3">
    Hi, my name is Melissa. I am learning NodeJS. I can help you to build web apps. 
    </main>
<%- include("partials/foot") -%>

