<%- include("partials/head", { title: title } ) -%>
  <%- include("partials/menu", {activeLink: activeLink }) -%>
    <main class="container my-3">
    Hi, my name is Melissa. Welcome to my website.
    </main>
<%- include("partials/foot") -%>